aside {
  background-color: rgb(0, 0, 0);
  color: white;
  left: 0;
  position: fixed;
  top: 67px;
  bottom: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding-top: 140px;
  padding-left: 34px;
  font-size: 14px;
  color: #FFFFFF;
}

@media (min-width: 320px) and (max-width: 500px) {
     
     aside {
         display: none;
     }
}
